*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card
{
    background-color: #90e0ef;
    
}
.informacion img
{
    border: 1px solid red;
    height: 200px;
    box-shadow: 5px 5px 15px 15px #d62828;
}
.informacion h1,
.informacion p
{
    background-color: #90e0ef;
}
.principal img
{
    width: 100%;
    height: 525px;
}
.perfil
{
    margin-bottom: 10px;
    width: 100%;
}
.card img
{
    width: 150px;
    height: 240px;
    margin-left: 35%;
}
a:link
{
    text-decoration: none;
}
footer
{
    background-color: #212529;
}
footer h2
{
    color: white;
    text-align: center;
}